.proyectos{
    background-color:black;
    color: white;
    display:absolute;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
#proyectos{
    margin-left: 20px;
}
ul{
    list-style-type: none;
}
h2{
    padding: 5px;
    font-weight: bold;
}
p{
    font-style: oblique;
}
h5{
    font-weight: bold;
}

