
.educacion{
    background-color:black;
    color: white;
    display:absolute;

}
.flex-container {
    background-color: black;
    display: flex;
    flex-direction:column;
    align-items: flex-start;


    }
#edu{
    margin-left: 20px;
}

#linea{
    padding: 5px;
    background-color:#fcb219;
}
h2{
    font-weight: bold;
    background-color:black;
    color: white;
    margin-left: 20px;
    padding: 20px;
}
p{
    font-style: oblique;
    margin-left: 15px;
}
h5{
    font-weight: bold;
    
}
.card-body{
    text-align: right;
}
