<div>
    <img src="../../../assets/logoap.jpeg" alt="" id="logo">
<div id="redes">
    <a href="https://www.facebook.com/natalia.maggi.1"><img src="../../../assets/facebook.png" id="links"></a>
    <a href="https://www.instagram.com/nati.maggi/"><img src="../../../assets/instagram.png" id="links"></a>
    <a href="https://twitter.com/natiimaggi"><img src="../../../assets/twitter.png" id="links"></a>
    <a href="https://github.com/NatMaggi/"><img src="../../../assets/github.png" id="links"></a>
    <a href="https://www.linkedin.com/in/nat-maggi/"><img src="../../../assets/linkedin.png" id="links"></a>
    <button type="button" class="btn btn-outline-warning" id="ingreso">Ingresar<a href="..//..//..//index.html"></a>
    </button>
</div>
</div>
<div  id= "banner" >
    <img src= "../../../assets/Banner.png"class="img-fluid" alt=""> 
  </div>