div{
    background-color:#31bbec;
 }

#redes{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
 }
 #logo{
   width: 250px;
}

#links{
   width: 30px;
   margin-left: 5px;
}
#ingreso{
   margin:20px;

}
#banner{
   width: 100%;
   height: 600px;
}