<div>
    <img src="../../../assets/logoap.jpeg" alt="" id="logo">
    <div id="redes">
        <a href="https://www.facebook.com/natalia.maggi.1"><img src="../../../assets/facebook.png" id="links"></a>
        <a href="https://www.instagram.com/nati.maggi/"><img src="../../../assets/instagram.png" id="links"></a>
        <a href="https://twitter.com/natiimaggi"><img src="../../../assets/twitter.png" id="links"></a>
        <a href="https://github.com/NatMaggi/"><img src="../../../assets/github.png" id="links"></a>
        <a href="https://www.linkedin.com/in/nat-maggi/"><img src="../../../assets/linkedin.png" id="links"></a>
            <div class="barra_login">
                <ul class="login_list">
                    <li *ngIf="!isUserLogged">
                        <a class="nav-link"  routerLink="/login"><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#popUpWindow">Login</button></a>
                    </li>
                    <li *ngIf="isUserLogged" (click)="logOut()">
                        <button type="button" class="btn btn-danger tooltips" data-toggle="modal">Logout</button>
                    </li>
                </ul>
            </div>
    </div>
</div>
    <div  id= "banner" >
        <img src= "../../../assets/Banner.png"class="img-fluid" alt=""> 
    </div>

   