<!-- Experiencia -->

<div class="cv">
  <div class="row" id="experiencia">
    <h2>Experiencia laboral</h2>
        <ul>
          <li><h4>Exp 1</h4><h4>Desde - Hasta</h4></li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
        <ul>
          <li><h4>Exp 2</h4><h4>Desde - Hasta</h4></li>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
        <ul>
          <li><h4>Exp 3</h4><h4>Desde - Hasta</h4></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam atque fuga asperiores sit, esse debitis illum. Laboriosam quos, perspiciatis deserunt sequi nulla officiis aspernatur cum, consectetur, error veniam excepturi laudantium.</p>
        </ul>
    </div>
</div>

<div id="linea">
</div>

<!-- Educación -->

<div class="educacion">
  <div class="row" id="edu"> 
      <h2>Educación</h2> 
          <ul>
            <li><h4>Nivel Medio </h4></li>
            <li><h6>Perito mercantil con especialización en legislación impositiva | MARZO 2005 - DICIEMBRE 2009</h6></li>
            <p>Comercial N°11 - (C.A.B.A.)</p>
          </ul>
          <ul>
            <li><h4>Nivel Terciario </h4></li>
            <li><h6>Técnico Superior en Periodismo | MARZO 2011 - DICIEMBRE 2013</h6></li>
            <p>ETER - (C.A.B.A.)</p>
          </ul>       
          <ul>
            <li><h4>Idiomas </h4></li>
            <li><h6>Inglés | MARZO 2009 -  DICIEMBRE 2012</h6></li>
            <p>Centro Universitario de Idiomas CUI UBA  - (C.A.B.A.)</p>
            <li><h6>Inglés | AGOSTO 2017</h6></li>
            <p>Exámen Internacional TOEFL</p>
          </ul>    
          <ul>
            <li><h4>Cursos </h4></li>
            <li><h6>Ciberseguridad | 2022 </h6></li>
            <p>CoderHouse</p>      
          </ul>
          <ul>
            <li><h6>Desarrollador Full Stack | 2021 - 2022</h6></li>
            <p>Argentina Programa - Etapas I, II</p>      
          </ul>
          <ul>
            <li><h6>Introducción al desarrollo web I, II - HTML y CSS | 2021</h6></li>
            <p>Google Activate</p>
          </ul> 
          <ul>
            <li><h6>Desarrollo Web Full Stack con Java | 2021</h6></li>
            <p>Codo a codo</p>      
          </ul>
          <ul>
            <li><h6>Responsive Web Desing | 2021</h6></li>
            <p>FreeCodeCamp</p>      
          </ul>
          <ul>
            <li><h6>Data Science for Analytics | 2021</h6></li>
            <p>Silicon Misiones - PoloTIC </p>      
          </ul>
   </div>
</div>
