<div id="skills">

<div id="linea">
    <h2>HABILIDADES Y APTITUDES</h2>
</div>

<div class="container" id="habilidades">
     <div id="columna1">
            <div class="skills">
                <div class="details">
                <span>HTML</span>
                </div>
                <div class="bar">
                <div id="html-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>CSS</span>
                </div>
                <div class="bar">
                <div id="css-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>Javascript</span>
                </div>
                <div class="bar">
                <div id="javascript-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>Java</span>
                </div>
                <div class="bar">
                <div id="java-bar"></div>
                </div>
            </div>
     </div>
        <div id="columna2">
            <div class="skills">
                <div class="details">
                <span>Git/GitHub</span>
                </div>
                <div class="bar">
                <div id="git-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>Manejo de Office</span>
                </div>
                <div class="bar">
                <div id="office-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>Manejo de Redes Sociales</span>
                </div>
                <div class="bar">
                <div id="redes-bar"></div>
                </div>
            </div>
            <div class="skills">
                <div class="details">
                <span>Inglés</span>
                </div>
                <div class="bar">
                <div id="ingles-bar"></div>
                </div>
            </div>  
        </div> 
        <div id="columna3">
            <div class="skills">
                <div class="details">
                <span>Trabajo en equipo</span>
                </div>
                <div class="bar">
                <div id="equipo-bar"></div>
                </div>
            </div>  
            <div class="skills">
                <div class="details">
                <span>Resolución de problemas</span>
                </div>
                <div class="bar">
                <div id="resolucion-bar"></div>
                </div>
            </div>  
            <div class="skills">
                <div class="details">
                <span>Capacidad de Organización</span>
                </div>
                <div class="bar">
                <div id="organizacion-bar"></div>
                </div>
            </div>  
            <div class="skills">
                <div class="details">
                <span>Comunicación</span>
                </div>
                <div class="bar">
                <div id="comu-bar"></div>
                </div>
            </div> 
        </div>        
</div>
</div>
<div id="skills">

    <div id="linea">