<div class="flex-container" id="main-container"> 
    <div id="linea">
    </div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card ccard radius-t-0 h-100">
                    <div class="position-tl w-102 border-t-3 brc-primary-tp3 ml-n1px mt-n1px"></div>
                    <div class="card-header pb-3 brc-secondary-l3">
                        <h2>HABILIDADES Y APTITUDES <a (click)="onOpenModal(null!,'add')" class="btn btn-success tooltips"
                                data-placement="top" data-original-title="Add"><i class="fa fa-plus"></i> </a> </h2>
                    </div>
                    <div *ngFor="let hab of habilidades">
                        <div class="card-body pt-2 pb-1">
                            <div 
                                class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                                <span
                                    class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
                                    <img alt="Alexa's avatar" src="{{hab.url_img}}" class="h-4 w-4" />
                                </span>
    
                                <span class="text-default-d3 text-90 text-600">
                                    <div class="name">
                                        {{hab.habilidad}}
                                        <div class="float-right btn-group btn-group-sm" id="botones">
                                            <a (click)="onOpenModal(hab,'edit')" class="btn btn-primary tooltips"
                                                data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i>
                                            </a>
                                            <a (click)="onOpenModal(hab, 'delete')" class="btn btn-danger tooltips"
                                                data-placement="top" data-original-title="Delete"><i
                                                    class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </span>     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

<div id="linea">
</div>


<!-- Add Modal  -->
<div class="modal fade" id="addHabilidadesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addPersonaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Habilidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddHabilidades(addForm)">
                    <label for="url_img">URL Logo</label><br>
                    <input ngModel type="text" name="url_img" class="form-control">
                    <label for="habilidad">Habilidad</label>
                    <input  type="text" name="habilidad" ngModel class="form-control">
                    <div class="modal-footer">
                        <button  type="button" id="add-habilidades-modal" class="btn" data-dismiss="modal">Cancelar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn" data-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
  </div>
  
  <!-- Update Modal  -->
  <div class="modal fade" id="updateHabilidadesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <label for="url_img">URL Logo</label><br>
                    <input ngModel="{{editHabilidades?.url_img}}"  type="text" name="url_img" class="form-control">
                    <label for="habilidad">Habilidad</label>
                    <input ngModel="{{editHabilidades?.habilidad}}" type="text" name="habilidad" ngModel class="form-control">
                    <input type="hidden" name="id" ngModel="{{editHabilidades?.id}} ">
                    <div class="modal-footer">
                      <button  type="button" id="add-experiencia-modal" class="btn" data-dismiss="modal">Cancelar</button>
                      <button (click)="onUpdateHabilidades(editForm.value)" type="submit" class="btn" data-dismiss="modal">Agregar</button>
                  </div>
              </form>
            </div>   
      
        </div>
    </div>
  </div>
  
  <!-- DeleteModal -->
  <div class="modal fade" id="deleteHabilidadesModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta acción eliminará {{deleteHabilidades?.habilidad}} . ¿Desea continuar?</p>
            </div>
            <div class="modal-footer borrar">
            <button type="button" class="btn" data-dismiss="modal">No</button>
            <button (click)="onDeleteHabilidades(deleteHabilidades.id)" type="button" class="btn" data-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
  </div>
  
  
  