<div>
<a href="https://www.facebook.com/natalia.maggi.1"><img src="../../../assets/facebook.png" id="facebook"></a>
<a href="https://www.instagram.com/nati.maggi/"><img src="../../../assets/instagram.png" id="instagram"></a>
<a href="https://twitter.com/natiimaggi"><img src="../../../assets/twitter.png" id="twitter"></a>
<a href="https://github.com/NatMaggi/"><img src="../../../assets/github.png" id="github"></a>
<a href="https://www.linkedin.com/in/nat-maggi/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
</div>