#login{
    background-color: #fcb219;
    height: 600px;
 
}
.container{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    width: auto;
    background-color: #fcb219;
}
#logo{
    width: 250px;
 }
 #barra{
    background-color:#31bbec;
    width:100%;
 }
 #card-body{
    justify-content: center;
    background-color: #fcb219;
 }