.flex-container {
    display: flex;
    justify-content: center;
    background-color: #fcb219;
    font-family: 'Open Sans', sans-serif;
    }
#acerca{
    margin-top: 10px;
    background-color: #fcb219;
    border-style: none;
}
  img{
    margin-top: 10px;
    width: auto;
    height: auto;
  }
h5{
    font-weight: bold;
}

  @media (min-width: 576px){
    #perfil{
        width: 100%;

    }
}
@media (max-width: 575px){
    #perfil{
        width: 30%;
        margin-left: 150px;
     
    }

}

.btn-edit{
    position: absolute;
}

