<div *ngFor="let persona of personas">
<div class="flex-container">
  <i class="fa-solid fa-square-pen"></i>
 <div id="acerca" class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/nat.png" class="img-fluid" id="perfil" alt="Natalia Maggi">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
          <div class="btn-edit">
           <a href="#" class="btn-right"> <i class="fa-solid fa-square-pen"></i></a>
          </div>
          <h5 class="card-title">{{persona.nombre}} {{persona.apellido}}</h5>
          <p class="card-text">{{persona.posicion}}.</p>
          <p class="card-text">{{persona.sobre_mi}}</p>
          <p>{{persona.edad}}</p>
          <p>{{persona.telefono}}</p>
          <p>{{persona.correo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>