.flex-container {
    display: flex;
    justify-content: center;
    background-color: #fcb219;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    
    }

#acerca{

    background-color: #fcb219;
    border-style: none;
    }
    #perfil{
    width: auto;
    height: auto;
    }
    h5{
    font-weight: bold;
    }
    
    @media (min-width: 576px){
    #perfil{
        width: 100%;
    
    }
    }
    @media (max-width: 575px){
    #perfil{
        width: 30%;
        margin-left: 150px;
     
    }
    
    }
    
    @media (min-width: 576px){
    #banner{
        width: 100%;
    
    }
    }
    @media (max-width: 575px){
    #banner{
    width: auto;
    height: 50%;
     
    }
    
    }


