<div class="flex-container">
  <i class="fa-solid fa-square-pen"></i>
 <div id="acerca" class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/nat.png" class="img-fluid" id="perfil" alt="Natalia Maggi">
      </div>
      <div class="col-md-8">
        <div class="card-body"> 
          <div class="btn-edit">
           <a href="#" class="btn-right"> <i class="fa-solid fa-square-pen"></i></a>
          </div>
          <h5 class="card-title">{{miPortfolio.nombre}} {{miPortfolio.apellido}}</h5>
          <p class="card-text">Full Stack Developer Jr.</p>
          <p class="card-text">En constante formación. Cursando actualmente la segunda etapa de Argentina Programa. Incorporando nuevas tecnologías, incursionando en la ciberseguridad</p>
          <p>30 Años</p>
          <p>15000000</p>
          <p>nn.maggi@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
