<div class="flex-container">
 <div id="acerca" class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/nat.png" class="img-fluid rounded-start" alt="Natalia Maggi">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Natalia Maggi</h5>
          <p class="card-text">Full Stack Developer Jr.</p>
          <p class="card-text">En constante formación. Cursando actualmente la segunda etapa de Argentina Programa. Incorporando nuevas tecnologías, incursionando en la ciberseguridad</p>
        </div>
      </div>
    </div>
  </div>
</div>
